/* TypeWriter */
.cursor {
  display: inline-block;
  width: 1ch;
  text-align: left;
  animation: blink 0.8s step-end infinite;
  position: absolute;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
